<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <%#*<h1 class="micropost">What's up?</h1>%>
        <%#= render 'shared/micropost_form' %>
      </td>
      <tr>
        <table class="micropost" summary="stories listing">
          <% @stories.each do |story|  %>
            <tr><td> <%= link_to image_tag("arrow_up.png", :size=>"35x20"), upvote_story_path(story), :method => :get %></td></tr>
            <td class="main">votes <%=story.votes%> </td>
            <tr><td <%if story.photo.exists? then %>
                  <%=image_tag story.photo.url(:thumb), :size => "60x60" %></td>
              <% end %>
              <td class="main"><a href="<%= story.url %> ">              <%=@count1%>     <%= story.title %></a>
                <br> <font size="1">  Posted <%= time_ago_in_words(story.created_at) %> ago.</font>
                <br> <%=story.comments.count%>
                <%= link_to "Comment", story_path(story)%></td>
            </tr>
            <tr><td> <%=link_to image_tag("arrow_down.png", :size=>"35x20"), downvote_story_path(story), :method => :get %></td>
              <td>-------------------------------------------------------------------------------------------------------------------------------</td></tr>
          <% end %>
        </table>
      </tr>
    </table>

  <% else %>

    <h1>Autoworker Community</h1>
    <p>
    This is the home page for the <a href="http://autoworker.com/">autoworker community</a> autoworker communitylication.
    </p>

    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

  <% end %>
