<h2>Listing retirees</h2>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "gary.jpg", :width => 100, :height => 100 -%>
    <h4>Name: Aaron Carter</h4>
    <h5>Age: 46 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  I appreciate the best of you and surely belive that there lot more to this.
  I am really excited with your new ventures.
  Best of luck
  - aaron carter
  </pre>
</div>
</div>
<hr/>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "logo1.jpeg", :width => 100, :height => 100 -%>
    <h4>Name: Mike Smith</h4>
    <h5>Age: 46 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  Best of luck
  -Mike Smith
  </pre>
</div>
</div>
<hr/>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "logo2.jpeg", :width => 100, :height => 100 -%>
    <h4>Name: Julian Ferworwick</h4>
    <h5>Age: 46 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  I appreciate the best of you and surely belive that there lot more to this.
  - Julian Ferworwick
  </pre>
</div>
</div>
<hr/>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "logo3.jpeg", :width => 100, :height => 100 -%>
    <h4>Name: Curtis Carter</h4>
    <h5>Age: 56 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  I appreciate the best of you and surely belive that there lot more to this.
  I am really excited with your new ventures.
  Best of luck
  - Curtis carter
  </pre>
</div>
</div>
<hr/>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "logo4.jpeg", :width => 100, :height => 100 -%>
    <h4>Name: Aaron Carter</h4>
    <h5>Age: 46 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  I appreciate the best of you and surely belive that there lot more to this.
  I am really excited with your new ventures.
  Best of luck
  - aaron carter
  </pre>
</div>
</div>
<hr/>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "gary.jpg", :width => 100, :height => 100 -%>
    <h4>Name: Aaron Carter</h4>
    <h5>Age: 46 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  I appreciate the best of you and surely belive that there lot more to this.
  I am really excited with your new ventures.
  Best of luck
  - aaron carter
  </pre>
</div>
</div>
<hr/>
<div style="width:100%">
<div style="width:20%;float:left;">
    <%= image_tag "logo5.jpeg", :width => 100, :height => 100 -%>
    <h4>Name: Aaron Carter</h4>
    <h5>Age: 46 years</h5>
</div>
<div style="width:90%;">
  <h4>Pet Story</h4>
  <h8>The writer and artist Tove Jansson (1914–2001) is best known as the creator of the Moomin stories, which have been published in 35 languages.
'Snow' is taken from A Winter Book, which brings together the best of Tove Jansson's short fiction, including her own favourite stories, selected by Ali Smith from Jansson's five original volumes.
'Written with such a lightness of touch that it seems miraculous, these stories are a further revelation of Tove Jansson’s heart warming genius.' Ali Smith</h8>
</div>
  <div style="width:90%;">
  <h4>Current Hobby</h4><h8>Cycling, Reading, Tweeting, Mountaineering</h8>
</div>
   <div style="width:90%;">
  <h4>Message to CEO</h4>
  <pre>I understand its really been a tight occasion to profound all good things come to an end.<br/>
  I appreciate the best of you and surely belive that there lot more to this.
  I am really excited with your new ventures.
  Best of luck
  - aaron carter
  </pre>
</div>
</div>
<hr/>


<br/>