
<table>
  <tr><%=@story.votes%>   <%=@story.title%></tr>
  <tr>
  <table class="micropost" summary="comments listing">
    <% @comments = @story.comments %>
    <% for comment in   @comments%>
      <tr><td> <%= link_to image_tag("arrow_up.png", :size=>"35x20"), upvote_story_comment_url(@story,comment), :method => :get %></td></tr>
      <tr>
        <td class="main">votes <%=comment.votes%>  <%=raw(comment.comment_text) -%>
          <br> <font size="1">  Posted <%= time_ago_in_words(comment.created_at) %> ago
            by <%=comment.user_id%></font>
      <tr><td> <%= link_to image_tag("arrow_down.png", :size => "35x20"), downvote_story_comment_url(@story,comment), :method => :get %></td></tr>
      <td><hr/></td>
      <br>
      </tr>
    <% end %>

  </table>
  <%= form_for ([@story, @story.comments.build]) do |f|  %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :comment %><br />
      <%= f.tinymce :comment_text %>
    </div>
    <div class="actions">

      <%= f.submit "Submit" %>
    </div>
  <% end %>
</table>
