<header>
<%= link_to logo, root_path %>
<%= link_to image_tag("logo1.jpeg", :size=>"100x50"), root_path %>
<%= link_to image_tag("logo2.jpeg", :size=>"100x50"), root_path %>
<%= link_to image_tag("logo3.jpeg", :size=>"100x50"), root_path %>
<%= link_to image_tag("logo4.jpeg", :size=>"100x50"), root_path %>
<%= link_to image_tag("logo5.jpeg", :size=>"100x50"), root_path %>
<%= link_to image_tag("logo7.jpeg", :size=>"100x50"), root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Top Stories", root_path %></li>
      <% if signed_in? %>
      <% if false%>  
        <li> <%= link_to "Profile", current_user %> </li> 
        <li><%= link_to "Users", users_path %></li> 
      <% end %>
        <li><%= link_to "Post Story", poststory_path %></li>
        <li><%= link_to "Retiree", retiree_path %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <% end %>
       
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
